    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4 pagetitle">仲良しループ
      </h1>
      <img class="card-img-top" src="/assets/pic8.jpg" alt="">

      <div class="row">
        <div class="col-lg-6">
          <h3 class = "p4_h3">概要</h3>
          <p>
            みんなといつも楽しくわいわい！
            一度しか無い大学生活をenjoyしよう！！！
          </p>
          <h3 class = "p4_h3">活動場所</h3>
          <p>神奈川県</p>
        </div>
      </div>

      <div class="container">
        <div class="col-xs-6 col-md-3 block">
          <img class="card-img-top" src="/assets/pic9.jpg" alt="" width="50">
        </div>
        <p></p>
        <div class="col-xs-6 col-md-3 block">
          <img class="card-img-top" src="/assets/pic10.png" alt="" width="50">
        </div>
      </div>
      <!-- /.row -->
      <!-- <button type="button" class="btn btn-warning btn-lg">Block level button</button> -->

      <!-- Pagination -->
    </div>
    <!-- /.container -->

    <div class="my-4 p4_linetitle">LINEでメッセージを送る
    </div>
