<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>

<ul class="users">
  <% @groups.each do |user| %>
      <li>
        <%= imageIcon user %>
        <%= link_to user.name, user %>
        <% @categories.each do |ca| %>
          <%= ca.name %>
            <!--master_id-->
            <%= @groupcategories.find_by(master_id: ca.id).score %>
        <% end %>
      </li>
  <% end %>
</ul>