<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4 pagetitle">診断結果
  </h1>

  <div class="row">
    <div class="col-lg-6">
      <div class="p2_your">
        あなたは...
      </div>
      <div class="p2_type">
        みんなとわいわいタイプ
      </div>
    </div>
    <div class="p2_type">
      <div style="text-aligin: center">
        <img src="/assets/pic11.png" style="width: 350px;">
      </div>
    </div>
  </div>
  <div class="p2_type">
    <p><a href="/groups" class="btn btn-warning">あなたに合うグループは？</a></p>
  </div>
</div>
<!-- /.container -->