<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4 pagetitle">入りたいのはどっち？
  </h1>

  <div class="row">
    <div class="col-lg-6">
      <div class="card h-100">
        <%= button_to action: 'choose', method: "POST" do %>
          <img class="card-img-top" src=<%= @pic1 %> alt="" width="400" height="500">
        <% end %>
      </div>
    </div>
    <div class="p1_or">
      OR
    </div>
    <div class="col-lg-6">
      <div class="card h-100">
        <%= button_to action: 'choose', method: "POST" do %>
          <img class="card-img-top" src=<%= @pic2 %> alt="" width="400" height="500">
        <% end %>
      </div>
    </div>
  </div>

  <!-- /.row -->

  <!-- Pagination -->
</div>
